<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Удалить запись</title>
        {% load static %}
        {% block bootstrap_header %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        {% endblock bootstrap_header %}
    </head>
    <body>
        <div class="container col-6">
        <h1 class="text-center">Внимание запись будет удалена!</h1>
        <form class="mt-5" method="post">{% csrf_token %}
            <input type="submit" class="btn btn-outline-danger col-4" value="Удалить">
        </form>
        </div>
    </body>
</html>